.rowContainer {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    opacity: 0.9;
    transition: 0.25s ease all;
    box-shadow: 0 0 0 black;
  }
  
  .rowContainer .headerInfo {
    background: #673AB7;
  }
  .headerInfo {
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerInfo .title h4 {
    margin: 0;
  }
  
  .rowContainer .innerRowContent {
    display: flex;
    flex-direction: row;
    background: #B39DDB;
    padding: 0;
    min-height: 80px;
  }
  
  .columnContainer {
    width: 350px;
    flex: 1;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.25s ease all;
    box-shadow: 0 0 0 black;
    opacity: 0.9;
  }

  .columnContainer .headerInfo {
      background: #E91E63;
  }

  .columnContainer .innerColumnContent {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 50px;
        background: whitesmoke;
    }
  
  .innerPageElem {
    cursor: grab;
  }
  
  .innerPageElem:active {
    cursor: grabbing;
  }

  .draggableElem * {
      pointer-events: none;
  }

  .draggableElem {
    display: flex;
    margin: 15px;
    border: 1px solid transparent;
    cursor: grab;
}

.draggableElem:hover {
  border-color: red;
}

.basicImageElement img {
    width: 100%;
}

.basicHeroElement {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #d6d6d6;
}

.basicHeroElement h5 {
    font-size: 20px;
    margin: 0;
    line-height: 2em;
}

.basicHeroElement button {
    width: fit-content;
    flex: 0;
    display: flex;
}

button {
    font-size: 16px;
    background: #2196F3;
    color: white;
    font-family: monospace;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.25s ease all;
    cursor: pointer;
}

button:hover {
    background: #1E88E5;
    transition: 0.35s ease all;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.65);
}


button:active {
    background: #043d6f;
    transition: 0.05s ease all;
    box-shadow: 0 0 0 black;
}

button:focus {
    outline: none;
}


.sectionContainer {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 0 black;
    transition: 0.25s ease all;
    opacity: 0.9;
}

.sectionContainer .sectionInnerContent {
    padding: 0;
    background: #B3E5FC;
}

.sectionContainer > .headerInfo {
    background: #2196F3;
}

body {
    margin: 0;
    padding: 0;
}

.sectionContainer:hover {
    box-shadow: 0 5px 10px black;
    opacity: 1;
}

.rowContainer:hover {
    box-shadow: 0 5px 10px black;
    opacity: 1;
}

.columnContainer:hover {
    box-shadow: 0 5px 10px black;
    opacity: 1;
}


div#sidebarContainer {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    width: 320px;
    padding: 10px;
    background: white;
    border-right: 2px solid gray;
    left: -350px;
    transition: 0.25s ease all;
}

div#sidebarContaineR.shown {
    left: 0;
}

button.toggleSidebar {
    position: absolute;
    right: -10em;
    background: orange;
    border: 2px solid gray;
    border-radius: 0 20px 20px 0;
}

button.toggleSidebar:after {content: "SHOW SIDEBAR";}

.shown button.toggleSidebar {
    position: relative;
    right: auto;
    background: #2196f3;
    border: none;
    border-radius: 20px;
}

.shown button.toggleSidebar:after {
    content: none;
}