$mainLightColor     : #f7fcff;
$mainLightColor_1    : #c5ecfe;
$mainLightColor_2    : #92dcfe;
$mainLightColor_3    : #60ccfd;
$mainLightColor_4    : #2ebcfc;

$mainColor          : #03a9f4;

$mainDarkColor      : #011d2a;
$mainDarkColor_1     : #01405d;
$mainDarkColor_2     : #02638f;
$mainDarkColor_3     : #0286c2;

$mainLightBackground    : #eeeeee;
$mainLightBackground_1   : #d4d4d4;
$mainLightBackground_2   : #bbbbbb;
$mainLightBackground_3   : #a1a1a1;

$mainDarkBackground      : #555555;
$mainDarkBackground_1    : #3b3b3b;
$mainDarkBackground_2    : #222222;
$mainDarkBackground_3    : #080808;

$mainColorAlt : #8103f4;

$mainLightColorAlt_1 : #cec5fe;